/* mobile last */
@media (max-width: 768px) {
    .productos__grid {
        grid-template-columns: 1fr;
        margin-left: 5%
    }

    .ubicacion__mapa iframe {
        width: 100% !important;
    }

    .contenedorform__grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    py-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
        margin-left: 12% !important;
    }
}

@media (max-width: 480px) {
    .content__navbar {
        flex-direction: column;
    }

    .ubicacion__mapa iframe {
        width: 100% !important;
    }

    .contenedorform__grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    py-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
        margin-left: 1%;
    }

}